.messages{
    padding-top: 5rem;
    
}
.message{
    font-size: 5rem;
    color: purple;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-2);
    width: fit-content;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 7rem;
}
.message:hover{
animation: scale linear 1.7s infinite;
}
@keyframes scale{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.check{
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    top: 1.2rem;
    left: 4.2rem;
    color: #fff;
    width: fit-content;
    text-align: center;
    background-color: rgb(109, 238, 109);
    border-radius: 90%;
    padding: 0.1rem;
    height: 1.5rem;

}

@media (max-width:650px){
    .grid{
        grid-template-columns: repeat(3, 1fr) ;
        gap: 0.5rem;
    }
}
.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 1rem;
    
}
.audio p{
    margin-top: 1rem;
    bottom: 8rem;
}
.circle {
position: absolute;
    left: 39.5rem;
}
.botn{
    position:fixed;
    bottom:10rem;
    left:39.5rem;
    font-size: larger;
}
.botn:hover{
    scale: 1.1;
    transition: .8s;
}

@media screen and (max-width:750px){
    .botn{
        bottom:2rem;
        backdrop-filter: blur(5px);
        left:6rem;
        font-size: 19px;
    }
    .circle {
        left: 7rem;
    }
}