.messages{
    padding-top: 5rem;
    
}
.message{
    font-size: 5rem;
    color: purple;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-2);
    width: fit-content;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 7rem;
}
.message:hover{
animation: scale linear 1.7s infinite;
}
@keyframes scale{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.check{
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    top: 1.2rem;
    left: 4.2rem;
    color: #fff;
    width: fit-content;
    text-align: center;
    background-color: rgb(109, 238, 109);
    border-radius: 90%;
    padding: 0.1rem;
    height: 1.5rem;

}

@media (max-width:650px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }
}
.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 1rem;
}
.audio p{
    margin-top: 1rem;
}