header{
    background: white;
    padding: 0.4rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 13rem;
    font-size: 20px;
    /* backdrop-filter: blur(20px); */
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100%;
    text-decoration: none;
    z-index: 99;
    
}
header .p{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
header .p:hover{
    scale:1.1;
    transition: 0.5s;
}
@media(max-width:750px){
    header{
        gap:10rem;
    }
}